@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 208, 100%, 97%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    --app-bg: hsl(0, 0%, 8.5%);
    color: hsl(var(--primary));

    background: radial-gradient(circle, rgba(21, 21, 22, 0.9) 0, var(--app-bg) 100%);
  }

  .section {
    @apply flex flex-col items-center justify-center py-20;
  }
}
